* {
    font-family: arial;
}

body {
    background-color: rgb(0, 140, 255);
}

h1 {
    font-size: 45px;
    text-align: center;
    color: #ffff;
    text-shadow: 4px 4px 1px black;
}

.conteiner {
    height: 10vh;
    max-width: 600px;
    padding: 2%;
    box-shadow: 8px 8px 1px greenyellow;
    border-radius: 20px;
    background-color: #ffff;
    margin: 2%;
}

#age {
    border: 2px solid rgb(0, 140, 255);
    border-radius: 10px;
    font-size: 15px;
    padding: 4px;
    margin-right: 10px;
    text-align: center;
    width: 150px;
    float: left;
    box-shadow: 4px 4px 2px rgb(0, 140, 255);
    cursor: pointer;
    background-color: rgba(0, 140, 255, 0.068);
}

#campo-sexo {
    border: 2px solid rgb(0, 140, 255);
    border-radius: 10px;
    padding: 4px 20px 4px 20px;
    float: left;
    box-shadow: 4px 4px 2px rgb(0, 140, 255);
    cursor: pointer;
    background-color: rgba(0, 140, 255, 0.068);

}

#verifica {
    padding: 7px 15px 7px 15px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    font-weight: 500;
    background-color: rgb(0, 140, 255);
    float: right;
    box-shadow: 4px 4px 2px rgb(0, 140, 255);
    cursor: pointer;
}
#verifica:hover {
    background-color: rgba(0, 140, 255, 0.664);
}
hr {
    margin-top: 50px;
    padding: 1px;
    color: rgb(0, 140, 255);
}
